header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #20747c;
}


section {
    display:flex;
    background-color: #083c44;
}
.text-container{
    background-color: #083c44;
    margin-right: 50px;
}